<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Welcome to Food on Wheels</title>

	<link rel="shortcut icon" href="static/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="static/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
    
</head>

<body class="home">
    
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><b>THESIS ARCHIVE</b></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a style="cursor:pointer">Home</a></li>
					<li id="register"><a style="cursor:pointer">Register</a></li>

                    {% if current_user.is_authenticated() %}
                        <li><a>hi! {{ current_user }}</a></li>
                        <li id="logout"><a style="cursor:pointer">Log out</a></li>
                    {% else %}
                        <li id="login"><a style="cursor:pointer">Log in</a></li>
                    {% endif %}
					
					<li><a href="about.html">About</a></li>
                    <li><a><span onclick = "privatemessage()" class="glyphicon glyphicon-envelope" style="cursor:pointer"></span></a></li>
                    <li ><p>
                        <div class="anchor" >
                          
                          <form id="search-box" method="post" action="/api/search" method="post">
                            <input type="text" name="keyword" class="vd_menu-search-text width-60" placeholder="Search">
                            <span data-action="click-trigger"> <span class="separator"></span></span>
                            <select placeholder='Search Type' name='searchtype' id='searchtype'> 
                                        <option value='thesis'>Thesis</option>
                                        <option value='user'>User</option> 
                            </select>
                            <a><span id="search" class="vd_menu-search-submit" style="cursor:pointer"><i class="fa fa-search"></i> </span></a>
                          </form>
                          
                        </div>
                        </p>
                    </li>
					<li class="dropdown">
						<!--a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">College of Engineering</a></li>
							<li class="active"><a href="sidebar-right.html">College of Education</a></li>
							<li class="active"><a href="sidebar-right.html">College of Arts and Social Sciences</a></li>
							<li class="active"><a href="sidebar-right.html">School of Computer Studies</a></li>
							<li class="active"><a href="sidebar-right.html">College of Science and Mathematics</a></li>
							<li class="active"><a href="sidebar-right.html">School of Engineering Technology</a></li>
							<li class="active"><a href="sidebar-right.html">College of Business Administration and Accountancy</a></li>
							<li class="active"><a href="sidebar-right.html">College of Nursing</a></li>
						</ul>
					</li-->
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header>
		<div>
			<img src="static/images/thesis.jpg" style=" height:50px">
			<!--div class="row">
				<h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1>
				<p class="tagline">PROGRESSUS: free business bootstrap template by <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">GetTemplate</a></p>
				<p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a></p>
			</div-->
		</div>
	</header>
	<!-- /Header -->
    <div class = "row" id="seed">
        <div class ="col-sm-4"></div>
        <div class ="col-sm-4">
            <div id="item1"></div>
        </div>
        <div class ="col-sm-4"></div>
    </div>
    <!-- Middle Content Start -->
    <!-- Chatwidget begin-->
    
    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <ul id="chatlist" class="chat">
                                                
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="message_body" name = "message_body" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button onclick = "sendprivatemessage()" class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>

<!-- Chatwidget end-->
    <div class="vd_title-section clearfix">
        <div class="vd_panel-header no-subtitle">
            <h1>User Profile Page</h1>
        </div>
    </div>
    <div class="vd_content-section clearfix">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel widget light-widget panel-bd-top">
                    <div class="panel-heading no-title"> </div>
                    <div class="panel-body">
                        <div class="text-center vd_info-parent"> <img alt="example image" src="static/images/1.jpg"> </div>
                        <div class="row">
                            <div class="col-xs-12"> <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br"><i class="fa fa-check-circle append-icon" ></i>Friends</a> </div>
                            <div class="col-xs-12"> <a class="btn vd_btn vd_bg-grey btn-xs btn-block no-br"><i class="fa fa-envelope append-icon"></i>Send Message</a> </div>
                        </div>
                        <h2 class="font-semibold mgbt-xs-5">Mariah Caraiban</h2>
                        <h4>Owner at Our Company, Inc.</h4>
                        <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Edit </a> </div> 

                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">First Name:</label>
                                <div class="col-xs-7 controls">Mariah</div>
                            <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Last Name:</label>
                                <div class="col-xs-7 controls">Caraiban</div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">ID Number:</label>
                                <div class="col-xs-7 controls">Mariah</div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Email:</label>
                                <div class="col-xs-7 controls">mariah@Vendroid.com</div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="mgtp-20">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td style="width:60%;">Status</td>
                                        <td><span class="label label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>User Rating</td>
                                        <td><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Member Since</td>
                                        <td> Jan 07, 2014 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                
                
              
  

             
        <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> Documents:</h3>
        <div class="row">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="glyphicon glyphicon-remove"></span>             
            <span class="glyphicon glyphicon-download"></span>
            <span class="glyphicon glyphicon-upload"></span>
            
        </div>


          
          
       
    
           
    

	

    
    
    
	
		



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
	<script src="static/js/jQuery.headroom.min.js"></script>
	<script src="static/js/template.js"></script>
    <script src="static/js/headroom.min.js"></script>
	<script src="static/js/jQuery.headroom.min.js"></script>
    <script src="static/js/jquery-2.1.1.js"></script>
	<script src="static/js/template.js"></script>
    <script src="static/js/host.js"></script>
</body>
</html>